<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
		
	<context:component-scan base-package="com.mx.*" />
	<context:annotation-config/>
    <mvc:annotation-driven />
    
	<!-- 拦截器所有url -->  
    <!-- <mvc:interceptors>  
        <bean class="com.mx.inteceptor.TestInteceptor" />  
    </mvc:interceptors> -->
    
    <!-- 拦截指定url -->
    <mvc:interceptors >    
	  	<!-- <mvc:interceptor>    
	        <mvc:mapping path="/user/*" /> /user/*     
	        <bean class="com.mx.inteceptor.TestInteceptor"></bean>    
	    </mvc:interceptor> -->
	    
	    <mvc:interceptor>
	        <mvc:mapping path="/user/execute/*"/>
	        <bean class="com.mx.inteceptor.ExecuteInteceptor"></bean>    
	    </mvc:interceptor>
	</mvc:interceptors>
    
    <!-- Json -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>
	
	<bean class="com.fasterxml.jackson.databind.ObjectMapper" />
</beans>